{% extends 'base.html' %} {%block content%}

<div class="container" style="padding: 0; background-color: var(--bg_main)">
  <hr style="padding: 0; margin: 0; border: var(--shade_color) 20px solid" />
  <div class="content" style="height: 600px; padding: 1rem">
    <h1 style="margin-top: 4%; margin-bottom: 2%">Cover Letter</h1>
    <h2 style="margin-bottom: 2%; margin-left:3%;">Hello everyone!</h2>

    <p style="margin-left:4%;margin-right:4%;">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit odit,
      sapiente sed aliquam a laboriosam aut placeat, quasi sunt id consequatur
      voluptate earum. Explicabo molestias consectetur fugiat voluptatem
      deleniti suscipit.
      <br />
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus ut,
      animi veniam temporibus eos, atque dolore quasi nemo maiores soluta
      nesciunt. Nemo ut porro nulla eligendi earum vitae tempore hic.
    </p>
  </div>
  <hr style="position: 0; margin: 0; border: var(--shade_color) 20px solid" />
</div>
{% endblock %}
